In [1]:
import pandas as pd

In [2]:
datos=pd.read_csv("/home/jose/Jupyter_Notebooks/Youtube/Pandas/Data/Data.csv" ,encoding = "ISO-8859-1")

/home/jose/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Para saber datos sobre el archivo
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
ATP           46652 non-null int64
Location      46652 non-null object
Tournament    46652 non-null object
Date          46652 non-null object
Series        46652 non-null object
Court         46652 non-null object
Surface       46652 non-null object
Round         46652 non-null object
Best of       46652 non-null int64
Winner        46652 non-null object
Loser         46652 non-null object
WRank         46637 non-null object
LRank         46581 non-null object
W1            46423 non-null float64
L1            46423 non-null float64
W2            45962 non-null float64
L2            45963 non-null float64
W3            21365 non-null float64
L3            21365 non-null float64
W4            4226 non-null float64
L4            4226 non-null float64
W5            1617 non-null float64
L5            1617 non-null float64
Wsets         46462 non-null float64
Lsets         46462 non-null float64
Comment       46652 non-null object
CBW           17507 non-null float64
CBL           17507 non-null float64
GBW           5055 non-null float64
GBL           5055 non-null float64
IWW           13358 non-null float64
IWL           13358 non-null float64
SBW           5424 non-null float64
SBL           5424 non-null float64
B365W         38019 non-null float64
B365L         38042 non-null float64
B&WW          1097 non-null float64
B&WL          1097 non-null float64
EXW           33799 non-null float64
EXL           33804 non-null float64
PSW           31729 non-null float64
PSL           31729 non-null float64
WPts          30448 non-null float64
LPts          30396 non-null float64
UBW           10672 non-null float64
UBL           10672 non-null float64
LBW           23230 non-null float64
LBL           23239 non-null float64
SJW           15572 non-null float64
SJL           15579 non-null float64
MaxW          17104 non-null float64
MaxL          17104 non-null float64
AvgW          17104 non-null float64
AvgL          17104 non-null float64
dtypes: float64(40), int64(2), object(12)
memory usage: 19.2+ MB

In [4]:
#Ver los primeros 5 renglones 
datos.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Seleccionmos los datos del 0 al 5 
datos.iloc[0:5]

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Seleccionar renglones salteados
datos.iloc[[0,3,3,6,24],]

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Grosjean S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,Quarterfinals,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Si solo trabajamos con puras columas de la columna 0 al 1
datos.iloc[:,0:2]

       ATP        Location
0        1        Adelaide
1        1        Adelaide
2        1        Adelaide
3        1        Adelaide
4        1        Adelaide
5        1        Adelaide
6        1        Adelaide
7        1        Adelaide
8        1        Adelaide
9        1        Adelaide
10       1        Adelaide
11       1        Adelaide
12       1        Adelaide
13       1        Adelaide
14       1        Adelaide
15       1        Adelaide
16       1        Adelaide
17       1        Adelaide
18       1        Adelaide
19       1        Adelaide
20       1        Adelaide
21       1        Adelaide
22       1        Adelaide
23       1        Adelaide
24       1        Adelaide
25       1        Adelaide
26       1        Adelaide
27       1        Adelaide
28       1        Adelaide
29       1        Adelaide
...    ...             ...
46622   53            Metz
46623   53            Metz
46624   53            Metz
46625   54  St. Petersburg
46626   54  St. Petersburg
46627   54  St. Petersburg
46628   54  St. Petersburg
46629   54  St. Petersburg
46630   54  St. Petersburg
46631   54  St. Petersburg
46632   54  St. Petersburg
46633   54  St. Petersburg
46634   54  St. Petersburg
46635   54  St. Petersburg
46636   54  St. Petersburg
46637   54  St. Petersburg
46638   54  St. Petersburg
46639   54  St. Petersburg
46640   54  St. Petersburg
46641   54  St. Petersburg
46642   54  St. Petersburg
46643   54  St. Petersburg
46644   54  St. Petersburg
46645   54  St. Petersburg
46646   54  St. Petersburg
46647   54  St. Petersburg
46648   54  St. Petersburg
46649   54  St. Petersburg
46650   54  St. Petersburg
46651   54  St. Petersburg

[46652 rows x 2 columns]

In [11]:
#Seleccion de renglones y columnas 
datos.iloc[[0,3,6,24],[0,5,6]]

    ATP    Court Surface
0     1  Outdoor    Hard
3     1  Outdoor    Hard
6     1  Outdoor    Hard
24    1  Outdoor    Hard

In [12]:
#Rangos de renglones(0-4) y columnas(5-8)
datos.iloc[0:5,5:8]

     Court Surface      Round
0  Outdoor    Hard  1st Round
1  Outdoor    Hard  1st Round
2  Outdoor    Hard  1st Round
3  Outdoor    Hard  1st Round
4  Outdoor    Hard  1st Round